# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# .env, .env.development, and .env.production files should be included in the
# repository as they define defaults. .env*.local should be added to .gitignore,
# as those files are intended to be ignored. See https://bit.ly/3UXfcQm.
.env*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# configuration
config*.toml
